@font-face {
  font-family: "Golos-Bold";
  src: url("@/share/assets/css/fonts/GOLOS_BOLD.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "Golos-Regular";
  src: url("@/share/assets/css/fonts/GOLOS_REGULAR.TTF");
  font-weight: normal;
}
@font-face {
  font-family: "Golos-Medium";
  src: url("@/share/assets/css/fonts/GOLOS_MEDIUM.TTF");
  font-weight: bold;
}

body {
  font-family: "Golos-Regular", serif;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 999999s;
    transition-delay: 999999s;
  }
  & div {
    outline: none !important;
  }
  & p [title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  }
  .required::after {
    content: " *";
    color: var(--primary-color);
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: medium;
  }
}
@media screen and (min-width: 480px) {
  body {
    font-size: 0.8vw !important;
  }
}
:root {
  --primary-color: #f79236;
  --primary-hover-color: #e88933;
  --fourth-color: #979da0;
  --fourth-hover-color: #8f9598;

  --background-color: #ede8ef;
  --secondary-background-color: #fff;
  --third-background-color: #4b525d;
  --fourth-background-color: #979da0;
  --menu-background: #232b35;

  --button-background-button: #f7923680;
  --darkening-background: #5252523f;

  --gradient-start-color: #2f3c42;
  --gradient-midle-color: #ede8ef33;

  --background-item-color: #f5f5f7;
  --background-item-hover-color: #e6e6e8;

  --background-chat-select-color: #f5f5f7;
  --background-chat-hover-color: #fafafa;

  --button-deactivate-color: #2f3c42;
  --button-hover-color: #979da0;

  --secondary-text-color: #182330;
  --third-text-color: #738086;
  --fourth-text-color: #979da0;
  --text-color: #fff;
  --text-hover-color: #c2c2c2;

  --dark-background: #0000006b;

  --secondary-border-color: #182330;
  --third-border-color: #738086;
  --fourth-border-color: #979da0;
  --border-color: #fff;

  --weekend-color: #cd5322;

  --block-gradient: linear-gradient(180deg, var(--gradient-start-color) 0%, var(--gradient-midle-color) 100%);
}
